name: Build ExcelMerger

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller openpyxl

      - name: Build exe
        run: |
          pyinstaller --onefile --name ExcelMerger excel_merger_app.py

      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: ExcelMerger-Windows
          path: dist/ExcelMerger.exe

   build-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller openpyxl

      - name: Build app
        run: |
          pyinstaller --windowed --name ExcelMerger excel_merger_app.py

      - name: Zip app
        run: |
          cd dist
          zip -r ExcelMerger-macOS.zip ExcelMerger.app

      - name: Upload macOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: ExcelMerger-macOS
          path: dist/ExcelMerger-macOS.zip
